.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }

.star-rating a{
  target: none;
  pointer-events: none;
  font-size: 24px;
  padding: 0 1px;
  color: #FFD119;
  cursor: default;
}