<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout1">

<div class="main-content" layout:fragment="content">

    <script th:inline="javascript">

    </script>

    <section>
        <div class="container">
            <div>
                <form id="articleForm" role="form" action="/reviews" method="post">
                    <h3>Review</h3><hr>
                    <div class="form-group">
                        <br>
                        <span>제목</span><input type="text" class="form-control" id="review-title" name="review-title" placeholder="제목을 작성하세요." required>
                        <br>
                        <span>평점</span>
                        <p class="star_rating">
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="summernote" name="content" placeholder="content" maxlength="140" rows="7"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- end main-content -->
</div>

</html>